@media screen 
	and (min-width: 300px)
	and (max-width: 767px) {
	.fs-2 strong {
		font-size: 1.5rem;
	}
	.fs-3 span {
		font-size: 1.35rem;
	}
	.pt-375-767-1rem {
		padding-top: 1rem !important;
	}
	.formCallBack-marginX {
		margin: 1rem !important;
		padding: 1rem !important;
	}
}
@media (min-width: 768px) {
	.rounded-top-0 {
		border-radius: 0 0 1rem 1rem !important;
	}
}

/* MainPage */

/* Замена и сокрытие блоков кнопок */
.hiddenButton478pxAndLess {
	display: none;
}
@media screen and (max-width: 479px) {
	.hiddenButton478pxAndLess {
		display: block;
	}
	.showButtons479pxAndMore {
		display: none;
	}
}
/* Замена и сокрытие блоков кнопок^ */
.img-width-courseAbout {
	max-width: 200px;
}
.page-min-max-width {
	min-width: 375px;
	max-width: 1330px;
}
button > a {
	text-decoration: none;
}
.imgCarousel {
	max-width: 130px;
}
.card-center {
	margin-left: auto;
	margin-right: auto;
}
.bg-img-mainPage-Main1 {
	background-image: url("./img/mainPage3.jpg");
}
.bg-img-mainPage-Main2 {
	background-image: url("./img/mainPage2.jpg");
}
.bg-img-mainPage-Main3 {
	background-image: url("./img/mainPage1.jpg");
}
.bg-img-mainPage-Push {
	background-color: #25272a;
}
.bg-img-mainPage-CallBack {
	background-image: url("./img/picWorkWeb4.jpg");
}
.bg-img-mainPage-Review {
	background-image: url("./img/mainPage4.jpg");
}
.bg-img-mainPage-Prices {
	background-image: url("./img/mainPage6.jpg");
}
.bg-img-mainPage-Guarantees {
	background-image: url("./img/mainPage7.jpg");
}
/* MainPage */